# {{ crate | replace("_", " ") | title }}

[![CI](https://github.com/schgoo/driftwatch/actions/workflows/ci.yml/badge.svg)](https://github.com/schgoo/driftwatch/actions/workflows/ci.yml)
[![License](https://img.shields.io/badge/license-MIT%20OR%20Apache--2.0-blue.svg)](../../../LICENSE-MIT)

{{ readme }}

---

Part of the [Driftwatch](https://github.com/schgoo/driftwatch) project.

{{ links }}
